#main {
    margin: 0 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.photograph-header {
    background-color: #fafafa;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.photograph-presentation {
    max-width: 33%;
}

.photograph-presentation h1 {
    font-weight: 400;
    font-size: 4.8em;
    color: #d3573c;
    margin: 0 0 10px;
}

.photograph-presentation .photographer__origin {
    font-size: 2.4em;
    line-height: 31px;
}

.photograph-header .photographer__tagline {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 23px;
    color: #525252;
}

.photograph-header img {
    max-height: 100%;
    width: auto;
    max-width: 33%;
}

.filter label, .filter select {
    font-weight: 700;
    font-size: 1.8em;
    line-height: 23px;
}

.filter select {
    background: #911C1C;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: none;
}

.totalLikes {
    position: fixed;
    bottom: 0;
    right: 100px;
    background: #db8876;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-size: 1.8em;
    padding: 0 10px;
}

.photograph-medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(350px, auto);
    padding: 25px 0;
}

.photograph-medias__items img,
.photograph-medias__items video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photograph-medias__items .photograph-medias__content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.photograph-medias__items .photograph-medias__content.video:before {
    content: "\f144";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #901c1c;
    font-family: "Font Awesome 6 Free";
}

.photograph-medias__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #901c1c;
    font-weight: 400;
    font-size: 2.2em;
}

.photograph-medias__likes {
    display: flex;
    cursor: pointer;
}

.photograph-medias__likes p {
    margin: 0;
}

.photograph-medias__likes i {
    margin-left: 5px;
    cursor: pointer;
}

.likes {
    margin-right: 50px;
}

.likes p {
    display: inline-block;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.popup i {
    font-size: 24px;
    text-align: center;
    width: 10%;
    color: #901C1C;
}

#close {
    position: absolute;
    top: 5%;
    right: 0;
}

.popup div {
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 90%;
    width: 80%;
}

.popup img {
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
    object-position: center;
}

.contact_button {
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    height: 450px;
    overflow-y: scroll;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4.8em;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 3.6rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    color: #000000;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .photograph-header {
        justify-content: center;
        flex-direction: column;
    }

    .photograph-header img {
        order: 1;
    }

    .photograph-presentation {
        max-width: none;
        text-align: center;
        order: 2;
    }

    .contact_button {
        order: 3;
    }

    .photograph-medias {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .photograph-header {
        padding: 15px 25px;
    }

    .photograph-presentation h1 {
        font-size: 2.8em;
    }

    .photograph-presentation .photographer__origin,
    .photograph-header .photographer__tagline {
        font-size: 1.6em;
    }

    .photograph-medias {
        grid-template-columns: repeat(1, 1fr);
    }
}
